.container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: var(--background-color-start);
    border-radius: var(--large-border-radius);
    box-shadow: var(--card-box-shadow);
    text-align: center;
    margin: 20px;
    padding: var(--space-0);
}

.container:hover {
    opacity: 1;
}

.message {
    display: flex;
    align-items: top;
}

.closeBtn {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding: 0;
    line-height: 1;
    height: 2em; 
    width: 2em; 
    background-color: var(--primary-color-light);
    border: none;
    cursor: pointer;
    color: inherit;
    border-radius: 50%; 
}
